/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    font-family: 'Poppins', sans-serif;
}
textarea{
    resize: vertical;
}

input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

.toast-container .ngx-toastr{
    width: 100%;
}

.erroSpan{
    font-size: 14px;
    color: red;
}