<app-navbar></app-navbar>
<h2 class="text-center" style="margin-top: 1%;">Meus eventos</h2>
<hr>
<div class="text-center">
    <app-loading-spinner *ngIf="loadingSpinner"></app-loading-spinner>
</div>
<div class="container-fluid" style="padding: 02% 4%;">
    <div class="row justify-content-around">
        <div class="text-center" style="height: 100vh;" *ngIf="!loadingSpinner && !eventos">
            <h6>Você não possui eventos cadastrados!<br>cadastre para visualiza-los aqui.</h6>
        </div>
        <div class="col-md-4 text-center" *ngFor="let evento of eventos">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{evento.titulo}} - {{evento.data| date: 'dd/MM/yyyy'}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{evento.subTitulo}}</h6>
                    <p class="card-text">{{evento.descricao}}</p>
                    <button class="btn btn-success" type="button" style="cursor: pointer;margin-right: 2%;"
                        [routerLink]="['/eventos/cadastro/' + evento.key]">Editar</button>
                    <button class="btn btn-danger" type="button" (click)="deletar(evento.key)"
                        style="cursor: pointer;">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</div>